RewriteEngine on

# Redirect poker subpaths
RewriteCond %{HTTP_HOST} ^blog\.stephens\.page$ [OR]
RewriteCond %{HTTP_HOST} ^jacobstephens\.net$ [OR]
RewriteCond %{HTTP_HOST} ^www\.jacobstephens\.net$
RewriteRule ^poker\-tournament\/?(.*)$ "https\:\/\/poker\.stewardgoods\.com\/tournament$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^blog\.stephens\.page$ [OR]
RewriteCond %{HTTP_HOST} ^jacobstephens\.net$ [OR]
RewriteCond %{HTTP_HOST} ^www\.jacobstephens\.net$
RewriteRule ^poker\-discord\/?(.*)$ "https\:\/\/discord\.gg\/bxFEdktvcp$1" [R=301,L]

# Redirect underscore post URLs to hyphenated equivalents
RewriteRule ^posts/bending_fire(/.*)?$ /posts/bending-fire$1 [R=301,L]