.footer {
  display: flex;
  justify-content: space-around;
  background-color: var(--dark-green);
  padding: 1rem;
  text-align: center;
  color: var(--cream);
  width: 100%;
  border-top: 1rem solid var(--cream);
}

.footer a {
  color: var(--cream);
}
