.pagenav {
  margin: 1rem auto 0;
  padding: 0 2rem;
  justify-content: center;
}

.pagenav__item {
  flex: 0 0 25rem;
  margin: 0.5rem 0.5rem 0;
}

.pagenav__item a {
  display: block;
  padding: 0.1rem;
  text-align: center;
  text-decoration: none;
}

.pagenav__item a:hover,
.pagenav__item a:focus {
  text-decoration: underline;
}
